<script>
  import { run } from "svelte/internal";
  import { withPadding } from "../js/utils";

  let hours = 0;
  let minutes = 5;
  let seconds = 0;

  let editingHours = false;
  let editingMinutes = false;
  let editingSeconds = false;

  let timer;
  let running = false;

  function focusOnMount(el) {
    el.focus();
  }

  function start() {
    running = true;
    let time = seconds + 60 * minutes + 3600 * hours;

    console.log("Runing for " + time + " seconds");

    timer = setInterval(() => {
      if (time === 0) {
        stop();
      }

      time--;

      if (time > 0) {
        hours = Math.trunc(time / 3600);
        minutes = Math.trunc((time - hours * 3600) / 60);
        seconds = time - hours * 3600 - minutes * 60;
      }
    }, 1000);
  }

  function stop() {
    clearInterval(timer);
    running = false;
  }
</script>

<div class="columns is-multiline is-flex-direction-column ct-container">
  <div class="column ct-display-container">
    {#if editingHours}
      <input
        use:focusOnMount
        on:blur={() => (editingHours = false)}
        class="ct-input-hours"
        type="number"
        bind:value={hours}
      />
    {:else}
      <span
        class="countdown-hours ct-editable-text is-family-monospace has-text-weight-bold"
        on:click={() => (editingHours = true)}
      >
        {withPadding(hours)}
      </span>
    {/if}
    {#if editingMinutes}
      <input
        use:focusOnMount
        on:blur={() => (editingMinutes = false)}
        class="ct-input-minutes"
        type="number"
        bind:value={minutes}
      />
    {:else}
      <span
        class="countdown-minutes ct-editable-text is-family-monospace has-text-weight-bold"
        on:click={() => (editingMinutes = true)}
      >
        :{withPadding(minutes)}
      </span>
    {/if}
    {#if editingSeconds}
      <input
        use:focusOnMount
        on:blur={() => (editingSeconds = false)}
        class="ct-input-seconds"
        type="number"
        bind:value={seconds}
      />
    {:else}
      <span
        class="countdown-seconds ct-editable-text is-family-monospace has-text-weight-bold"
        on:click={() => (editingSeconds = true)}
      >
        :{withPadding(seconds)}
      </span>
    {/if}
  </div>

  <div class="column block mb-3">
    {#if running}
      <button class="button is-danger" on:click={stop}>Stop</button>
    {:else}
      <button class="button is-success" on:click={start}>Start</button>
    {/if}
  </div>
</div>

<style>
  .ct-container {
    width: 100%;
  }

  .ct-display-container {
    display: inline;
    line-height: 7rem;
    text-align: center;
  }

  .ct-editable-text {
    cursor: pointer;
  }

  .ct-input-hours {
    border: none;
    font-size: 7rem;
    width: 9rem;
    text-align: right;
  }

  .ct-input-minutes {
    border: none;
    font-size: 6rem;
    width: 7rem;
    text-align: right;
  }

  .ct-input-seconds {
    border: none;
    font-size: 4rem;
    width: 5.3rem;
    text-align: right;
  }

  .countdown-hours {
    font-size: 7rem;
  }

  .countdown-minutes {
    font-size: 6rem;
  }

  .countdown-seconds {
    font-size: 4rem;
  }
</style>
