<script>
  import { bubble, space } from "svelte/internal";
  import { withPadding } from "../js/utils";

  let hours = 0;
  let minutes = 0;
  let seconds = 0;
  let mili = 0;

  let running = false;
  let timer;

  function start() {
    let time = 0;

    running = true;

    timer = setInterval(() => {
      time += 100;

      if (mili < 99) {
        mili++;
      } else {
        mili = 0;

        if (seconds < 59) {
          seconds++;
        } else {
          seconds = 0;

          if (minutes < 59) {
            minutes++;
          } else {
            minutes = 0;
            hours++;
          }
        }
      }
    }, 10);
  }

  function stop() {
    running = false;
    clearInterval(timer);
  }

  function reset() {
    stop();

    hours = minutes = seconds = mili = 0;
  }
</script>

<div class="columns columns is-multiline is-flex-direction-column sw-container">
  <div class="column sw-display">
    {#if hours > 0}
      <span class="sw-span-hours is-family-monospace has-text-weight-bold"
        >{withPadding(hours)}</span
      >
    {/if}
    {#if minutes > 0}
      <span class="sw-span-minutes is-family-monospace has-text-weight-bold"
        >{(hours !== 0 ? ":" : "") + withPadding(minutes)}</span
      >
    {/if}
    <span class="sw-span-seconds is-family-monospace has-text-weight-bold"
      >{(minutes !== 0 ? ":" : "") + withPadding(seconds)}</span
    >
    <span class="sw-span-mili is-family-monospace has-text-weight-bold"
      >:{withPadding(mili)}</span
    >
  </div>
  <div class="column">
    {#if running}
      <button class="button is-danger" on:click={stop}>Stop</button>
    {:else}
      <button class="button is-success" on:click={start}>Start</button>
    {/if}
    <button class="button" on:click={reset}>Reset</button>
  </div>
</div>

<style>
  .sw-container {
    width: 100%;
  }

  .sw-display {
    display: inline;
    line-height: 7rem;
    text-align: center;
  }

  .sw-span-hours {
    font-size: 7rem;
  }

  .sw-span-minutes {
    font-size: 6rem;
  }

  .sw-span-seconds {
    font-size: 4rem;
  }

  .sw-span-mili {
    font-size: 1rem;
  }
</style>
