<script>
  import CountdownTimer from "./lib/CountdownTimer.svelte";
  import Stopwatch from "./lib/Stopwatch.svelte";

  let pageTitles = ["Countdown Timer", "Stopwatch"];
  let page = 0;

  $: pageTitle = pageTitles[page];

  function changePage(index) {
    return () => {
      page = index;
    };
  }
</script>

<main>
  <div class="columns is-centered">
    <div class="column  is-half">
      <nav class="panel app-nav">
        <p class="panel-heading">{pageTitle}</p>
        <div class="panel-tabs">
          {#each pageTitles as title, i}
            <a
              href="#changeTab"
              on:click|preventDefault={changePage(i)}
              class:is-active={i === page}>{title}</a
            >
          {/each}
        </div>
        <div class="panel-block">
          {#if page === 0}
            <CountdownTimer />
          {:else if page === 1}
            <Stopwatch />
          {/if}
        </div>
      </nav>
    </div>
  </div>
</main>
